/* ====================== 
    Variables  
========================*/
:root {
    --font-stack: 'Montserrat', sans-serif;
    --bg-dark: rgb(242, 242, 242);
    --bg-light: rgb(255, 255, 255);
    --dark-text: rgb(64, 74, 81);
    --light-text: rgb(136, 141, 145);
    --card-border:  rgb(203, 203, 203);
}

/* ====================== 
    Page Styles  
========================*/

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--font-stack);
    margin: 0;
    text-align: center;
    background-color: var(--bg-dark);
}

header {
    margin: 30px 0px 30px 0px;
}

h1 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: left;
}

/* ====================== 
    Component Styles  
========================*/
.wrapper {
    width: 93%;
    margin: 0 auto;
}
.card {
    padding: 1.5em 1em;
    border: 3px solid var(--card-border);
    border-radius: 0.4em;
    background-color: var(--bg-light);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-img {
    float: left;
}

.card-img img {
    border-radius: 50%;
    display: block;
}

.card-text {
    margin-left: 150px;
    line-height: 1;
    text-align: left;
    word-wrap: break-word;
}

.fullname {
    margin-top: 2em;
    font-weight: bold;
}

.fullname,
.city {
    text-transform: capitalize;
}

.email,
.city {
    color: var(--light-text);
    font-size: 0.75em;
}

/* ====================== 
    Modal Styles  
========================*/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--bg-light);
    border-radius: 2%;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid var(--card-border);
    width: 40%;
    display: inline-block;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 50px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ====================== 
    Layout Styles  
========================*/

main {
    width: 100%;
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    grid-gap: 45px;
}

@media(min-width: 769px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-gap: 25px;
     }
}